body{
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 23px;
}

.grid{
	display: grid;
	grid-gap: 0.5em;
	grid-template-areas: 
	"header"
	"nav"
	"mainContent"
	"mainImage"
	"resourceHub"
	"footer";
}

header{
	grid-area: header;
	background-color: rgb(73, 113, 100);
	display: flex;
	justify-content: center; 
	align-items: center;
}

.headerImage{
	margin: 1em;
	height: auto;
	width: 15%;
}

header h1{
	color: white;
	margin: 10px;
	line-height: 30px; 
}

nav{
	grid-area: nav;
	background-color: yellowgreen;
	text-align: center;
}

nav ul{
	list-style: none;
}
nav li{
	display: inline-block;
	padding: 20px;
	font-size: 1.75em;
}


main{
	grid-area: mainContent;
	background-color: yellowgreen;
}
.introText{
	margin-left: 1em;
	margin-right: 1em;
}

.Diggingturf{
	grid-area: mainImage;
	width: 100%;
	height: 100%;
}

aside{
	grid-area: resourceHub;
	background-color: yellowgreen;
}
aside h2{
	text-align: center;
}

aside li{
	padding: 0.5em;
}

footer{
	grid-area: footer;
	background-color: rgb(73, 113, 100);
}
footer p{
	text-align: right;
	/*font-size: 10px;*/
	margin-right: 1em;
}


@media(min-width: 700px) {
	.grid {
		display: grid;
		grid-template-areas:
		"header header"
		"nav nav"
		"mainContent mainContent"
		"resourceHub mainImage"
		"footer footer" 
	}

}

/*@media screen and (min-width: 700px) {
	.grid{
		display: grid;
		grid-template-areas: 
		"header header"
		"nav nav"
		"mainContent	mainContent"
		"resourceHub mainImage"
		"footer footer"
	};


}*/
  

/*@media (min-width: 800px) {
	.grid{
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-areas:
		"header 	header"
		"nav	mainContent"
		"resourceHub mainImage"
		"footer 	footer" 
	}
}
*/








/*figure{
	grid-area: mainImage;
	display: grid;
	grid-template-areas: 
	"image1 image2 image3" ;
}*/




/*  I'm trying CSS from scratch above.  Will keep the stuff below if it doesn't work out.



body{
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 23px;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 0.5em;
}

header{
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(73, 113, 100);
}

.headerImage{
	margin: 1em;
}

h1{
	margin: 1em;
}

nav{
	grid-column: 1 / -1;
	text-align: center;
	background-color: yellowgreen;
	
}

nav ul{
	list-style: none;
	font-size: 20px;
}

nav li{
	display: inline-block;
	padding: 20px;

}

main{
	grid-column: 1 / span 2;
	grid-row: 3 / 4;
	background-color: yellowgreen;
}

main h2{
	font-size: 35px;
}

.introText{
	margin-left: 1em;
	margin-right: 1em;
}

#cta{
	font-size: 20px;
}


.Diggingturf {
	height: 100%;
	width: 100%;
	object-fit: cover;
	grid-column: 3 / 5;
	grid-row: 3 / 4;
}

aside{
	grid-column: 1 / span 4;
	background-color: yellowgreen;
}

aside p{
	text-align: right;
	margin-right: 1em;

}

aside h2{
	margin-left: 1em;
	text-align: center;
}
footer{
	grid-column: 1 / -1;
	background-color: yellowgreen;
}
footer p{
	text-align: center;
	font-size: 10px;
}







